.grid-container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 33% 33% 34% ;
    grid-template-rows: 10% 30% 30% 30% ;
    grid-template-areas: 
    'header header header'
    'syfte syfte syfte'
    'katt1 katt2 katt3' 
    'nav nav nav';
    gap: 5px; 
    
}
    
   
body{
    color: black;
    background: burlywood;
}

    .wrapper{
        color: black;
        grid-area: syfte;
        contain: content;
        background-color: beige;
        height: auto;
        width: auto;
    }
    
    
.head{    
    background: beige;
    contain: content;
    height: 100%;
    width: 100%; 
    grid-area: header;
}

    p{
        color: black;
        contain: content;
    }
    
    .menu2{
        color:black;
        background-color: beige;
        contain: content;
        height: auto;
        width: auto;
        grid-area: nav;
    }
    
    .menu{
        height: 100vh;
        width: 80vw;
        background: beige;
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
    }

    .Katter{
        margin-left: 10px;
        margin-right: 50px;
    }

    
    .menu-button{
        cursor: pointer;
        display: inline;
    }
    
.menu-button i.material-icons{
    font-size: 2.5rem;
}
    
.show{
    left: 0;
}
    
.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}
    
.fade-layer.visible{
    display: block;
}
    
@media (min-width: 700px) {
        
}